.options {
    display: none;

    overflow-y: scroll;
    overflow-x: hidden;
}

.options.active {
    display: block;
    position: absolute;

    top: 18px;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0 2ex 0 2ex;

    background: #222639;
}

.option-row {
    align-items: center;
    padding-top: 1em;
    display: flex;
}

.option-row > label {
    flex: 1;
}

.option-row > input {
    min-width: 0;
    margin-right: 2em;
}

.option-description {
    padding: 0 1em 0 1em;
    width: 100%;
}