.button-bar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    font-size: 8pt;
}

.button-bar button {
    display: inline-block;
    flex: 1;
    
    height: 18px;
    
    background-color: #bb99ff;
    border-radius: 0;

    padding: 0;
}

.theme-light .button-bar button {
    background-color: #f0f1f6;
}