.chat-input {
    margin: 0 4px 2px 4px;
    display: flex;
}

.chat-input input {
    flex: 1;

    width: 0;

    box-sizing: border-box;
    padding: 0 1ex 0 1ex;

    float: left;

    border-radius: 8px;

    background: #2d3143;
    color: rgba(255, 255, 255, 0.87);
    font-size: 16pt;
}

.theme-light .chat-input input {
    background-color: rgba(255, 255, 255, 0.25);
    color: black;
}

.chat-input button {
    float: right;
    display: inline-block;

    width: 24px;

    height: 24px;

    margin: 2px 4px 0 4px;
    padding: 0 4px 0 4px;

    background-color: #bb99ff;
}

.theme-light .chat-input button {
    background-color: #f0f1f6;
}