.chat-bubble {
    float: right;
    
    margin: 2px 4px 2px 4px;
    padding: 2px 4px 2px 4px;
    
    border: 1px solid #565e80;
    border-radius: 8px;
    
    text-align: right;

    background: rgba(0, 0, 0, 0.25);
}

.theme-light .chat-bubble {
    border-color: black;

    background: rgba(255, 255, 255, 0.15);
}

.msg-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg-text {
    width: 100%;
    overflow-wrap: break-word;
}

.msg-author {
    font-weight: bold;
}

.msg-footer {
    color: rgba(255, 255, 255, 0.5);

    font-style: italic;
    font-size: 10pt;
}

.msg-footer > * {
    display: inline;
}

.theme-light .msg-footer {
    color: rgba(25, 25, 25, 0.75);
}

.msg-tags {
    padding-right: 12px;
}